<div class="row row_section">
  <div class="col-md-4" style="margin-left: 30px;">
    <mat-progress-bar *ngIf="!sectionLoaded" mode="indeterminate" style="width:20%; margin:auto;">
    </mat-progress-bar>
    <h1 class="section_name" style="font-size: 25px;padding: 0 65px;" *ngIf="section && !editSection">
      {{ section.title }}
    </h1>
    <mat-icon *ngIf="!editSection" id="edit_item"
    (click)="onEditSection(section)">edit
    </mat-icon>
    <div class="edit_section" *ngIf="editSection">
    <div class="section_title_edit">Édition de la Section : {{section.title}}</div>
      <input type="text" class="form-control section_titlt_edit_name"  [(ngModel)]="section.title">
      <button class="btn btn-success" (click)="saveEditSection(section)">Enregistrer</button>
      <button class="btn btn-danger" style="margin-left: 10px;width:106.31px" (click)="cancelEditSection()">Annuler</button>
    </div>

    <button class="add_item_button" *ngIf="!editSection" mat-raised-button (click)="openNewItemForm()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-nav-list>

      <!-- items -->
    <mat-list-item id="item_list" *ngFor="let item of items | keyvalue ; let i = index" [class.changeColor]="item.key == selectedValue">
      <a (click)="openItem(item, item.key)" *ngIf="item.value.title" matLine><mat-icon [class.yellow]="item.key == selectedValue">code</mat-icon>{{item.value.title}}</a>
      <button mat-icon-button>
        <mat-icon id="edit_item_icon" (click)="onEditItem(item)">edit</mat-icon>
        <mat-icon (click)="openDialog(item.key, item.value.title)">delete_sweep</mat-icon>
     </button>
    </mat-list-item>
    </mat-nav-list>
    <div *ngIf="items.length == 0" style="text-align: center;">
      <mat-icon class="warn_icon">error_outline</mat-icon>Pas d'item créé
    </div>
  </div>
  <div class="col-md-6" style="margin-left: 30px;">
      <div class="col-md-12">
        <div class="item_title" *ngIf="showForm">{{itemMode}}</div>
	        <div *ngIf="showTitle" class="section_title">{{itemTitle}}</div>
	        <hr *ngIf="showForm && editItem" style="background-color: #ef5d8e;margin-bottom: 25px;">
	        <hr *ngIf="showForm && !editItem" style="background-color: #38e660;margin-bottom: 25px;">
        <form *ngIf="showForm" class="item_form" [formGroup]="itemForm" (ngSubmit)="onSaveItem()">
          <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" id="title"
                  class="form-control" formControlName="title">
          </div>
          <button mat-raised-button class="addCode_button" type="button" (click)="addCodes()">Ajout Code</button>
              <mat-tab-group [selectedIndex]="selected.value"
                             (selectedIndexChange)="selected.setValue($event)">
                <mat-tab formArrayName="codes" *ngFor="let code of FormData.controls;
                         let i = index" [label]="code.value.language ? code.value.language : 'Langage'">
                  <div [formGroupName]="i">
                    <ng-template matTabContent>
                    <input class="form-control language_input" placeholder="Langage" formControlName="language">
                    <ngx-monaco-editor [options]="editorOptions" formControlName="script"></ngx-monaco-editor>
                    <button mat-raised-button class="deleteCode_button" type="button" (click)="removeCode(i)" [disabled]="FormData.controls.length === 1">Supprimer</button>
                    <hr>
                  </ng-template>
                  </div>
                </mat-tab>
              </mat-tab-group>

            <div id="submit_item_button">

	            <button id="submit_button_item_form" class="btn btn-success" [disabled]="itemForm.invalid"
	                    type="submit">Enregistrer
	            </button>
              <button class="btn btn-danger cancel" (click)="cancel()">Annuler</button>
            </div>
        </form>
        <mat-tab-group *ngIf="showCode && itemCode">
          <mat-tab *ngFor="let tab of itemCode; let index = index" [label]="tab.language">
            <ng-template matTabContent>
              <!-- <div>{{testArray[index][0].language}}</div> -->
              <ngx-monaco-editor [options]="testArray[index][0]" [(ngModel)]="tab.script"></ngx-monaco-editor>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
    </div>
  </div>
