.search_item {
  margin-left:20px;
  margin-right: 0;
}

.col-md-3.input {
  margin-left: 30px;
  margin-bottom: 21px;
}
.form-control.search {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); 
  width: 136%;
}

.search_item_text {
  text-align: center;
  width: 136%;
}

.row_section {
  margin-left: 20px;
}

.section_name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}

.edit_section {
  margin-bottom: 20px;
}

.section_title {
  font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.section_title_edit {
  margin-bottom: 10px;
  font-size: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
}

.section_titlt_edit_name {
  margin-bottom: 20px;
}

.item_title {
  font-size: 20px;
  text-align: center;
}

.item_form {
  padding: 30px;
  background: #ffffff8a;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.language_input {
  margin: 15px 0;
}

.script_input {
  margin: 15px 0;
}

.addCode_button {
  margin-right: 10px;
  color: white;
  background-color:#2c8df7;
  border-color: #2c8df7;
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

.deleteCode_button {
  margin-right: 10px;
  color: white;
  background-color:#2c8df7;
  border-color: #2c8df7;
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

.monaco_editor {
  height: 500px;
}
