<div class="row row_section">
  <div class="col-md-4">
    <h1 class="section_name" *ngIf="section"><mat-icon>donut_small</mat-icon>{{ section.title }}</h1>
    <app-item-form></app-item-form>
    <mat-nav-list>
    <mat-list-item id="item_list" *ngFor="let item of items | keyvalue">
      <a (click)="openItem(item)"  *ngIf="item.value.title" matLine><mat-icon *ngIf="item.value.code">code</mat-icon>{{item.value.title}}</a>
      <button mat-icon-button >
        <mat-icon (click)="openDialog(item.key, item.value.title)">delete_sweep</mat-icon>
     </button>
    </mat-list-item>
    </mat-nav-list>
  </div>
  <div class="col-md-7">
  <div>{{itemTitle}}</div>
  <textarea *ngIf="itemCode" [(ngModel)]="itemCode" class="code">{{itemCode}}</textarea>
  </div>
</div>
