 <mat-sidenav-container class="main_container">
  <mat-sidenav class="sidenav_container" #sidenav mode="side" [(opened)]="opened" (closed)="onClose()" (opened)="onOpen()">
    <h2 class="h2"><a routerLink="/" class="link_h2"><mat-icon class="dashboard_icon">dashboard</mat-icon>Bloc Note</a></h2>
    <!-- <hr style="width:58%;background:#6bb2ff; margin-bottom: 5px;margin-top: 5px;"> -->
    <div class="add_section_button">
      <button mat-raised-button routerLink="add-section"><mat-icon>add</mat-icon></button>
    </div>
    <app-section-list></app-section-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <button mat-raised-button color="primary" routerLink="auth/signin" *ngIf="!isAuth">Connexion</button>
      <button mat-raised-button routerLink="auth/signup" *ngIf="!isAuth">Inscription</button>
      <button mat-raised-button color="accent" *ngIf="isAuth" (click)="onSignOut()">Deconnexion</button>
      <div *ngIf="isAuth">
        <div>
          {{userEmail}}
        </div>
      </div>
    </div>
    
    <mat-icon (click)="sidenav.toggle()" class="open_nav_icon" *ngIf="isAuth">reorder</mat-icon><br>
    <a style="position: absolute;" *ngIf="showHomeIcon && isAuth" class="home-icon" routerLink="/">
      <mat-icon style="font-size:32px;color:black">home</mat-icon>
    </a>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
