.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.sidenav-left {
  width: 250px;
}

.sidenav_container {
  width: 300px;
}

.dashboard_icon {
  color:#007bff94;
  font-size: 32px;
  margin-right: 10px;
}

.link_h2 {
  color:black;
}

.add_section_button {
  display: flex;
  justify-content: center;
}

.add_section_button button{
  width: 90%;
  margin: 10px 0px;
}

.home-icon {

}
