<div class="row row_section">
  <div class="col-xs-12 list_section">
    <mat-nav-list>
      <mat-list-item [routerLink]="['/sections/'+[i]]" routerLinkActive="changeColor" id="section_list" *ngFor="let section of sections; let i = index" [class.changeColor]="i == selectedValue">
         <a  matLine ><mat-icon class="section_list_icon" [class.yellow]="i == selectedValue">settings_backup_restore</mat-icon>{{ section.title }}</a>
         <span style="right:20px" *ngIf="section.items" matBadge="{{objectKeys(section.items).length}}" matBadgeOverlap="false"></span>
         <mat-icon class="empty_item_icon" *ngIf="!section.items">error_outline</mat-icon>
         <button mat-icon-button >
            <mat-icon (click)="openDialog(section)">delete_sweep</mat-icon>
         </button>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
