<div class="row row_section">
  <div class="col-xs-12 list_section">
    <mat-nav-list>
      <mat-list-item [routerLink]="['/sections/'+[i]]"
      routerLinkActive="changeColor" id="section_list"
      *ngFor="let section of sections; let i = index" [class.changeColor]="i == selectedValue">
        <a matLine >
          <span style="top:10px" *ngIf="section.items" matBadge="{{objectKeys(section.items).length}}" matBadgeOverlap="false"></span>
          <span style="top:10px" *ngIf="!section.items" matBadge="0" matBadgeOverlap="false"></span>
          <span style="margin-left:30px" title="{{section.title}}">{{ section.title }}</span>
        </a>

         <button mat-icon-button >
            <mat-icon (click)="openDialog(section)">delete_sweep</mat-icon>
         </button>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
