<div class="container mt-15">
  <h1 class="mb-20">Commandes via CLI</h1>
  <div class="row">
    <div class="col-md-8">
      <mat-card class="mat-card">
        <p class="mb5">Mise à jour d'Angular</p>
        <div class="code">npm install -g @angular/cli@latest</div>
      </mat-card>
      <mat-card class="mat-card">
        <p class="mb5">Générer un composant</p>
        <div class="code">ng generate c &lt;nom du composant&gt;</div>
        <div>Exemple:<em style="color:#d800ff;"> ng generate c login</em>  créera login.component.ts (Class LoginComponent)</div>
      </mat-card>
      <mat-card class="mat-card">
        <p class="mb5">Générer un service</p>
        <div class="code">ng generate s &lt;nom du service&gt;</div>
        <div>Exemple:<em style="color:#d800ff;"> ng generate s user</em>  créera user.service.ts</div>
      </mat-card>
      <mat-card class="mat-card">
          <p class="mb5">Lancement du serveur local et ouverture dans le navigateur</p>
          <div class="code">ng serve -o</div>
        </mat-card>
    </div>
  </div>
</div>
