/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Raleway', sans-serif; }

.h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pl-15 {
  padding-left: 15px;
}

a.link:hover {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.link_h2:hover {
  text-decoration: none;
}

.mat-list-item-content:hover {
  color:grey;
}

.open_nav_icon {
  font-size: 2em;
}

.code_edit {
  background: #283142;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
}

.code {
  background: #283142;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  /* height: 100%; */
  min-height: 350px;
  max-height: 350px;
}

.mat-card {
  margin-bottom: 20px;;
}

.active {
  color: red;
}

.main_container {
  height: 100%;
  background-color: #eee;
}
.sidenav_container {
  background-color: white;
  width: 250px;
}
.open_nav_icon {
  cursor: pointer;
  /* background-color: white; */
}

.h2_sidenav {
  text-align: center;
  color: #007bff;
}

#content {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.contentInside {
  width: 100px;
  height: 70px;
  margin: 7px;
  border: 1px solid black;
  display: inline-flex;
}

.row.row_section {
  margin:0;
}

.list_section {
  width: 100%;
}

.btn.btn-danger.cancel {
  width: 106.31px;
  margin-left: 10px;
}

/* #submit_item_button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
} */

.mat-snack-bar-container {
  /* background:#3f51b5 ; */
  background:#007bff94 ;
}

button:focus {
  outline: none !important;
}

.mat-fab, .mat-flat-button, .mat-mini-fab, .mat-raised-button {
  /* background-color: #007bff94;
  color: white; */
  background-color: white;
  color: #007bff94;
}

.mat-badge-content {
  /* background: #d907ff8a; */
  background: #e91e63b8;
}

.warn_icon {
  position: relative;
    top: 5px;
    color: #ef5d8e;
    right: 5px;
}

.add_item_button.mat-raised-button {
  width: 39px;
  min-width: 39px;
  padding: 0;
  position: absolute;
  top: -2px;
  right: 16px;
  border-radius: 20px;
}

#edit_item_icon {
  position: relative;
  right: 10px;
}

#edit_item {
  margin-left: 20px;
    cursor: pointer;
    right: 60px;
    position: absolute;
    top: 3px;
}

#item_list {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  background-color: white;
  margin-bottom: 10px;
}

#item_list:hover {
  background-color: rgb(107, 178, 255);
}

#section_list:hover {
  background-color: rgb(107, 178, 255);
}

.confirmation_message {
  margin-bottom: 10px;
}

.mat-dialog-content {
  display: flex !important;
}

.changeColor {
  /* background-color: #98999a4a !important; */
  background-color: #6bb2ff !important;
  color: white !important;
}

.changeColor:hover {
  color: grey !important;
}

.yellow {
  color: yellow !important;
}

a.mat-line {
  width: 92%;
}

.mat-list-item-content:hover {
  color: white;
}

.section_list_icon {
  font-size: 22px;
  position: relative;
  top: 5px;
  /* color: #6bb2ff; */
}

.empty_item_icon {
  margin-right: -2px;
  font-size: 26px;
  margin-bottom: 3px;
  color: #FFC107;
}

