<h1 style="text-align: center; margin-bottom: 25px;">Bienvenue {{userDisplayName}} (Version Dev)</h1>
<div style="text-align: center;margin-bottom: 30px" *ngIf="!userVerificationEmail">Merci de cliquer sur le lien dans l'email que vous venez de recevoir afin de valider votre compte</div>
<!-- <mat-spinner *ngIf="!sectionsLoaded"></mat-spinner> -->

<mat-progress-bar *ngIf="!sectionsLoaded" mode="indeterminate" style="width:20%; margin:auto;">
</mat-progress-bar>

<div class="row" style="margin-right:0px;margin-left:50px;">
  <div *ngFor="let section of sections; let i = index">
    <div class="col-md-12">
        <mat-card class="section-card">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title class="card-title">{{section.title}}</mat-card-title>
            <mat-card-subtitle *ngIf="section.items; else noItems">Nb item : {{objectKeys(section.items).length}}</mat-card-subtitle>
            <ng-template #noItems>
              <mat-card-subtitle >Nb item : 0</mat-card-subtitle>
            </ng-template>
          </mat-card-header>
          <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
          <mat-card-content>
            <!-- <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p> -->
          </mat-card-content>
          <mat-card-actions style="text-align: center;">
            <!-- <button mat-button>LIKE</button> -->
            <button mat-button [routerLink]="['/sections/'+[i]]">Accéder</button>
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>

